:root {
    --shadow-color: #a8a29e;
    --accent-color: #14532d;
    --input-color: #cbd5e1;
    --submit-color: #15803d;
    --close-color: #f87171;
    --edit-button: #0284c7;
    --active-button: #d4d4d4;
    --high-priority: #b91c1c;
    --med-priority: #f97316;
    --low-priority: #16a34a;
}

* {
    font-family: "Roboto Slab", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    box-shadow: 0 4px 2px -2px var(--shadow-color);
}

h1 {
    padding-left: 25px;
}

h2 {
    padding-bottom: 5px;
}

.main-container {
    display: flex;
    height: 1140px;
}

.sidebar {
    position: relative;
    width: 20%;
}

.my-tasks-header, .my-lists-header {
    width: 90%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
}

.line-divider {
    background-color: black;
    height: 2px;
}

.my-tasks, .my-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.my-task-button, .my-list-button {
    text-align: left;
    width: 70%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
    color: var(--accent-color);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.my-list-button {
    margin: auto;
    margin-left: 14.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-delete {
    visibility: hidden;
    margin: auto;
    color: var(--high-priority);
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.active + .list-delete {
    visibility: visible;
}

.list-delete:hover {
    color: var(--close-color);
}

.active {
    background-color: var(--active-button);
}

.new-list-button-container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.new-list-button {
    background-color: var(--accent-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.content-container {
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.content-header-container {
    width: 90%;
    margin: auto;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.new-task-button {
    display: none;
    background-color: var(--accent-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.new-list-button:hover, .new-task-button:hover {
    background-color: var(--submit-color);
}

.content {
    margin: auto;
    height: 95%;
    width: 90%;
    overflow: auto;
}

.task-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--shadow-color);
}

.task-header {
    margin-left: 15px;
    font-size: 24px;
    font-weight: bolder;
}

.task-button-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 125px;
    margin-right: 10px;
    margin-top: 5px;
}

.remove-task, .expand-task {
    margin: auto;
    font-size: 24px;
    width: 50px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.myTask-expand {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
}

.remove-task {
    color: var(--high-priority);
}

.remove-task:hover {
    color: var(--close-color);
}

.expand-task {
    color: var(--accent-color);
}

.expand-task:hover {
    color: var(--submit-color);
}

.edit-task {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 27px;
    font-size: 24px;
    border: none;
    color: var(--edit-button);
}

.task-description {
    display: none;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 100px;
    word-wrap: break-word;
}

.task-date {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 5px;
}

.low {
    border-left: 10px solid var(--low-priority);
}

.medium {
    border-left: 10px solid var(--med-priority);
}

.high {
    border-left: 10px solid var(--high-priority);
}

.fa-plus {
    margin-left: 5px;
}

.form-header {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent-color);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-dialog {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 300px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px var(--shadow-color);
}

.list-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#list-name-input {
    background-color: var(--input-color);
    height: 30px;
    width: 90%;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.list-name-error {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 14px;
    font-style: italic;
    letter-spacing: .3ch;
}

#list-submit, .list-close, #task-submit, .task-close, .task-save, .close-edit-task {
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#list-submit, #task-submit, .task-save {
    background-color: var(--submit-color);
    margin: auto;
}

.list-close, .task-close, .close-edit-task {
    background-color: var(--close-color);
}

#task-submit, .task-save {
    margin-top: 35px;
    margin-bottom: 10px;
}

.edit-form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-bottom: 25px;
}

label {
    margin-left: 20px;
}

.task-dialog, .edit-task-dialog {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 550px;
    margin: auto;
    margin-top: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px var(--shadow-color);
}

.task-form, .edit-task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-label {
    margin-left: 90px;
}

#task-name-input, #edit-task-name {
    background-color: var(--input-color);
    width: 70%;
    height: 30px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: none;
}

#task-description-input, #edit-description {
    background-color: var(--input-color);
    resize: none;
    width: 70%;
    height: 100px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    border: none;
}


#task-due-date, #task-priority, #edit-due-date, #edit-priority{
    width: 70%;
    margin: auto;
}

.task-name-error, .task-desc-error, .task-date-error, .edit-name-error, .edit-desc-error, .edit-date-error {
    margin-left: 100px;
    font-size: 12px;
    letter-spacing: .25ch;
    font-style: italic;
    margin-bottom: 10px;
}


footer {
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 0px 0px var(--shadow-color);
    font-size: 16px;
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
}

.footer-link:visited {
    color: black;
}

.footer-link:hover {
    color: var(--accent-color);
}

.fa-github {
    margin-left: 5px;
    font-size: 18px;
}
